<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <%= not_current_user_btn(@user) %>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= user_posts(current_user, @user, @posts) %>
    </ul>
  </article>
</section>
